*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFFFFF;
  font-size: 19px;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container{
  width: 1440px;
  margin: 0 auto;
}

.containerStyles{
  width: 90%;
  height: 110vh;
  margin: 0 auto;
}